.box {
    width:100px;
    height:100px;
    margin:3px;
    left:0;
    float:left;
    border-radius:5px 5px 5px 5px;
    -webkit-box-shadow: 8px 10px 33px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 10px 33px -8px rgba(0,0,0,0.75);
    box-shadow: 8px 10px 33px -8px rgba(0,0,0,0.75);
}
#Jim {
    background-color:blue;
}
#Jon {
    background-color:red;
}